.App {
  text-align: center;
}

html {
  background-color: #d1e5ff;
  color: #595959;
}

#root {
  background: #d1e5ff;
  color: #595959;
}

/* table */

.table-container {
  border-radius: 20px;
  background: #d1e5ff;
  box-shadow: 4px 4px 7px #b6c7de, -4px -4px 7px #e0edff;
  margin-top: 1rem;
}

.table-col {
  display: table;
  height: 40px;
}

.table-col-cell {
  display: table-cell;
  vertical-align: middle;
}

.table-col-cell-header {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #595959;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body > .container {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 20px;
  background: #d1e5ff;
  box-shadow: inset 7px 7px 14px #b6c7de, inset -7px -7px 14px #ecffff;
}

.btn-nmp {
  margin: 1rem;
  padding: 1rem;
  border: none;
  z-index: 0;
  position: relative;
  transition: all 0.5s;
  background: transparent;
  color: #595959;
}
.btn-nmp:before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 37px;
  background: linear-gradient(145deg, #e0f5ff, #bccee6);
  box-shadow: 2px 2px 4px #a5b5c9, -2px -2px 4px #fdffff;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.btn-nmp:after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 37px;
  background: linear-gradient(145deg, #e0f5ff, #bccee6);
  box-shadow: -2px -2px 4px #a5b5c9, 2px 2px 4px #fdffff;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.btn-nmp:hover:before {
  opacity: 0;
  transition: all 0.5s;
}

.btn-add {
  margin: 0.5rem;
  padding: 0.5rem;
  display: block;
  position: relative;
  border: none;
  color: #595959;
  background-color: transparent;
  z-index: 0;
}

.btn-add:before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 37px;
  background: linear-gradient(145deg, #e0f5ff, #bccee6);
  box-shadow: 4px 4px 7px #a5b5c9, -4px -4px 7px #fdffff;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.btn-add:after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 37px;
  background: linear-gradient(145deg, #e0f5ff, #bccee6);
  box-shadow: -4px -4px 7px #a5b5c9, 4px 4px 7px #c5d5f9;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.btn-add:hover:before {
  opacity: 0;
  transition: all 0.5s;
}

/* input */

.input-nmp {
  display: table-cell;
  vertical-align: middle;
  background-color: transparent;
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 5px;
  padding: 2px;
  background: #d1e5ff;
  box-shadow: inset 7px 7px 14px #b6c7de, inset -7px -7px 14px #ecffff;
}
