.nav-button {
  color: #595959;
  display: table;
  height: 3rem;
  width: 100%;
  /* border-radius: 50px;
  background: linear-gradient(145deg, #57b1e6, #68d3ff);
  box-shadow: 7px 7px 14px #51a5d6, -7px -7px 14px #71e5ff; */
}

.nav-word {
  display: table-cell;
  vertical-align: middle;
}

.nav-container {
  height: 100%;
  text-align: center;
}

.nav-button:hover {
  text-decoration: none;
  color: #595959;
}

.top-nav-bar {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 0;
  transition: all 2s;
}

.top-nav-bar:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #d1e5ff;
  box-shadow: 4px 4px 7px #b6c7de, -4px -4px 7px #e0edff;
  position: absolute;
  left: 0;
  z-index: -1;
  transition: all 1s ease;
}

.top-nav-bar:hover:before {
  opacity: 0;
  transition: all 1s ease;
}

.top-nav-bar:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #d1e5ff;
  box-shadow: -4px -4px 7px #b6c7de, 4px 4px 7px #e0edff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  transition: all 1s ease;
}
